@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Titillium sans-serif;
    height: 100vh;
}

.main {
    width: 100%;
    height: 100%;
    background-image: url("../image/df38107f20dab26cd2690ff66911ee4d.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
}

.overlay .title {
    font-size: 2rem;
    text-align: center;
    color: #fff;
    margin-top: 1rem;
}

.column {
    margin: 1rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.column div {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.column input {
    width: 50%;
    height: 50px;
    display: inline-flex;
    background: transparent;
    border: 1px groove rgba(221, 162, 13, 0.404);
    border-radius: 5px;
    outline: transparent;
}

.column div label {
    margin: 1rem 0 0 0;
    letter-spacing: 1px;
    text-transform: uppercase;
}