@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Titillium sans-serif;
    height: 100vh;
}

.main {
    width: 100%;
    height: 100%;
    background-image: url("../image/df38107f20dab26cd2690ff66911ee4d.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
}