@import url('https://fonts.googleapis.com/css2?family=Poor+Story&family=Poppins:wght@500&display=swap');

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poor Story', system-ui;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: rgb(232, 238, 238);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-container {
    padding: 5rem;
    width: 100%;
}

.input-container input {
    border: none;
    outline: none;
    padding: 1rem;
    margin-block: 1rem;
    border-radius: 4px;
    font-size: 1rem;
    width: 75%;
}

button {
    border: none;
    outline: none;
    margin-block: 1rem;
    border-radius: 4px;
    font-size: 1rem;
    background-color: #00ffff;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    margin: 0 0 0 10px;
    padding: 1rem 2rem;
}

button:hover {
    background-color: #7fffd4;
}

ul {
    margin: -5rem 0 0 0;
    padding: 0;
    width: 100%;
    height: auto;
    /* max-width: 500px; */
}

li {
    list-style-type: none;
    cursor: pointer;
    border: 1px solid #a19f9f;
    border-style: groove;
    border-radius: 5px;
    padding: 0.50rem 2rem;
    margin: 0.50rem;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

li p {
    flex-grow: 1;
}

.btn {
    background: transparent;
    font-size: 15px;
    padding: 1px;
}

.delete {
    color: #ff0000;
}

.edit {
    color: #006440;
}

.btn:hover {
    background: transparent;
}