*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

.stop-watch {
    background-color: rgba(0, 0, 0, 0.9);
    padding: 1rem 1.10rem;
    border-radius: 5px;
}

.timerDisplay {
    font-size: 2rem;
    font-weight: 800;
}

.buttons {
    margin: 1rem 0 0 0;
}

.button {
    padding: 0.50rem 1rem;
    margin: 0.50rem 0 0 0;
    background: none;
    border: none;
    background-color: var(--color);
    font-size: 1rem;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
}

.button:focus {
    cursor: pointer;
}