html {
    box-sizing: inherit;
    font-size: 62.5%;
    /* overflow: hidden; */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
    --bg-color: #fdfdfd;
    --text-color: #333;
    --main-color: #754ef9;
    --white-color: #fdfdfd;
    --shadow-color: rgba(0, 0, 0, 0.2);
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 7%;
    background: transparent;
    display: flex;
    align-items: center;
    z-index: 100;
    transition: .5s;
}

.sticky {
    background-color: var(--bg-color);
    box-shadow: 0 .1rem 1rem var(--shadow-color);
}

.logo {
    font-size: 2.5rem;
    color: var(--main-color);
    font-weight: 600;
    margin: 0 auto 0 0;
}

.logo:hover {
    cursor: default;
}

.navbar a {
    font-size: 1.7rem;
    color: var(--white-color);
    font-weight: 500;
    margin: 0 3.5rem 0 0;
    position: relative;
}

.sticky .navbar a {
    color: var(--text-color);
}

.sticky .navbar a.active {
    color: var(--main-color);
}

.navbar a.active::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: .2rem;
    background: var(--white-color);
}

.sticky .navbar a.active::before {
    background-color: var(--main-color);
    opacity: .7;
}

#darkMode-icon:hover {
    cursor: pointer;
}

section {
    min-height: 100vh;
    padding: 10rem 7%;
}

.home {
    display: flex;
    align-items: center;
}

.home .home-content {
    max-width: 45rem;
}

.home-content h3 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1;
}

.home-content h1 {
    font-size: 5rem;
    font-weight: 700;
    line-height: 1.5;
}

.home-content p {
    font-size: 1.6rem;
}

.home-content .social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    box-shadow: 0 .2rem .5rem var(--shadow-color);
    width: 4rem;
    height: 4rem;
    margin: 2.5rem 1.5rem 3rem 0;
    transition: 0.5s ease;
}

.home-content .social-media a:hover {
    background-color: var(--main-color);
}

.button {
    display: inline-block;
    padding: 1rem 2rem;
    background-color: var(--main-color);
    border-radius: 5px;
    box-shadow: 0 .2rem .5rem var(--shadow-color);
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--white-color);
    letter-spacing: .1rem;
    transform: 0.5s ease;
}

.button:hover {
    background: transparent;
    color: var(--main-color);
}

.home .profession-container {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 710px;
    height: 710px;
    /* background-color: #ff0000; */
    overflow: hidden;
    pointer-events: none;
}

.home .profession-container .profession-box {
    position: absolute;
    top: 0;
    right: 0;
    width: 710px;
    height: 710px;
    border-radius: 50%;
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.home .profession-box .profession {
    position: absolute;
    left: 0;
    transform: rotate(calc(360deg / 4 * var(--i)));
    transform-origin: 355px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--main-color);
    background-color: var(--bg-color);
    padding: 12px 0;
}

.home .profession-box .profession:nth-child(1) img {
    margin: 0 9rem 0 0;
}

.home .profession-box .profession:nth-child(2),
.home .profession-box .profession:nth-child(4) {
    padding: 0 0 20px 0;
}

.home .profession-box h3 {
    font-size: 3rem;
    line-height: 1;
    font-weight: 600;
}

.home .profession-box .circle {
    width: 560px;
    height: 560px;
    /* background-color: #ff0000; */
    border: 3px solid var(--main-color);
    border-radius: 50%;
}

.home .profession-container .overlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-top: 355px solid var(--main-color);
    border-right: 355px solid var(--main-color);
    border-bottom: 355px solid var(--main-color);
    border-left: 355px solid transparent;
}

.home-img img {
    position: absolute;
    bottom: -18px;
    right: 0;
    width: 45%;
    min-height: 100%;
    pointer-events: none;
}

span {
    color: var(--main-color);
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    /* background-color: red; */
    margin: 2rem 0 0 0;
}

.about-img img {
    width: 35vw;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    object-fit: cover;
    /* margin: 0 2rem 0 0; */
}

.heading {
    font-size: 4rem;
    text-align: center;

}

.about-content h2 {
    text-align: left;
    line-height: 1.2;
}

.about-content h3 {
    font-size: 2rem;
}

.about-content p {
    font-size: 1.20rem;
    margin: 1rem 0 2rem 0;
    font-weight: 500;
}

.servicse {
    min-height: auto;
    padding-bottom: 7rem;
}

.servicse .services-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 2rem;
    /* background-color: red; */
    margin: 5rem 0 0 0;
}

.services-content .services-box {
    flex: 1 1 32rem;
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    background-color: var(--bg-color);
    box-shadow: 0 .1rem .5rem var(--shadow-color);
    text-align: center;
    border-top: .6rem solid var(--main-color);
    border-bottom: .6rem solid var(--main-color);
    transition: .5s ease;
}

.services-content .services-box:hover {
    box-shadow: 0 .1rem 2rem var(--shadow-color);
    transform: scale(1.02);
}

.services-box i {
    font-size: 5rem;
    color: var(--main-color);
}

.services-box h3 {
    font-size: 2.5rem;
    transition: .5s ease;
}

.services-box:hover h3 {
    color: var(--main-color);
}

.services-box p {
    font-size: 1.5rem;
    margin: 1rem 0 3rem;
}